<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <div id="business_info"><%= render 'shared/business_info' %></div>
      </section>
      <section>
        <%= render 'shared/menu_item_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Menu Item Feed</h3>
      <div id="feed_form"><%= render 'shared/feed' %><div>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to <%= link_to "GETFULL", map_path, :id => "getfull_link" %></h1>
    <%= image_tag "coat.png", :id => "image_logo" %>

    <h2>
      This is the home page for the <%= link_to "GETFULL", map_path, :id => "getfull_link" %>, Derrick Wolbert's ECE528 Final Project.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>