<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if signed_in? %>

<div class="text-center row snap_button_wrapper" id="snap_button_wrapper">
  	<button class="btn row btn-primary btn-xlarge" id="file_upload_spoof"><i class="icon-white icon-camera"></i>Add a menu item!</button>	
</div>

<div class="text-center previewContainer">
    <img id="imgPreview" src="#" alt="your image"/>
</div>

<nav class="mobile_menu_wrapper" role="navigation">
  <div class="side-buffers">
  	<%= form_for @menu_item, :html => { :multipart => true }  do |f| %>
    		<%= render 'shared/error_messages', object: f.object %>
      	<%= f.text_area :name, placeholder: "Enter menu item name", :class => "top-buffer" %>
    		<div class="field">
      		<%= f.text_area :description, placeholder: "Compose new menu item description..." %>
    		</div>
      	<%= f.text_area :price, placeholder: "Enter menu item price" %>
      	<div id="photo_attachment_container">
    			<div class="photo_wrapper">
    				<div class="file_upload_wrapper"> 
      				<%= f.file_field :photo, :style => "hidden", :id => "imgInp" %>
      			</div>
      		</div>
      	</div>
    		<div class="text-center">
      			<%= f.submit "Post", class: "btn-xlarge post_button" %>
    		</div>
        <a class="btn btn button3 pull-right" id="button3"><i class="icon-black icon-remove"></i></a>
    <% end %>
  </div>
 
</nav>

  <!--<nav class="menu3" id="menu3" role="navigation2">
      <%= render partial: 'shared/nav_right' %>
  </nav>
  <a class="btn  btn button" id="button"><i class=icon-list-alt></i></a>-->

<% else %>

<% end %>

<script>
//$( document ).ready(function() {
	
//});
//make the menu item description div not as high so the snap button has more room.  even better, figure out how to display image before upload


$( "#file_upload_spoof").click(
  function(){
    $( "input:file" ).click()
    }
  );

  $(function() {
     $("input:file").change(function (){
       //$( "#file_upload_spoof" ).removeClass("btn-primary").addClass("btn-success");   
      //$( ".snap_button_wrapper" ).remove();  
      $( "#snap_button_wrapper" ).css('display','none');  
       $(".mobile_menu_wrapper").css("bottom","0");   
       //$(".snap_button_wrapper").css("margin-top","20px");
       //$( "#file_upload_spoof").html("<i class='icon-white icon-camera'></i> Change Picture");            
     });
  });



function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imgPreview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});


var button3=document.getElementById("button3");
button3.onclick = function(){
  $(".mobile_menu_wrapper").css("bottom","-400px");
  $( "#snap_button_wrapper" ).css('display','');
  $('#imgPreview').attr('src', '');
};


</script>
