<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% if signed_in? %>

<div class="text-center row snap_button_wrapper">
  	<button class="btn row btn-primary btn-xlarge" id="file_upload_spoof"><i class="icon-white icon-camera"></i> Snap</button>	



</div>



<nav class="mobile_menu_wrapper" role="navigation">
  <div class="side-buffers">
  	<%= form_for @menu_item, :html => { :multipart => true }  do |f| %>
    		<%= render 'shared/error_messages', object: f.object %>
      	<%= f.text_field :name, placeholder: "Enter menu item name", :class => "top-buffer" %>
    		<div class="field">
      		<%= f.text_area :description, placeholder: "Compose new menu item description..." %>
    		</div>
      	<%= f.text_field :price, placeholder: "Enter menu item price" %>
      	<div id="photo_attachment_container">
    			<div class="photo_wrapper">
    				<div class="file_upload_wrapper"> 
      				<%= f.file_field :photo, :style => "hidden"%>
      			</div>
      		</div>
      	</div>
  		<div class="text-center row top-buffer">
    			<%= f.submit "Post", class: "btn-xlarge" %>
  		</div>
    <% end %>
  </div>
</nav>



<% else %>

<% end %>

<script>
//$( document ).ready(function() {
	
//});
//make the menu item description div not as high so the snap button has more room.  even better, figure out how to display image before upload


$( "#file_upload_spoof").click(function(){$( "input:file" ).click()});

  $(function() {
     $("input:file").change(function (){
       $( "#file_upload_spoof" ).removeClass("btn-primary").addClass("btn-success");   
       $(".mobile_menu_wrapper").css("bottom","0");   
       $(".snap_button_wrapper").css("margin-top","20px");            
     });
  });

</script>
