<li id="<%= feed_item.id %>">
  <%= link_to gravatar_for(feed_item.business), feed_item.business %>
  <span class="business">
    <%= link_to feed_item.business.name, feed_item.business %>
  </span>
  <span class="name"><%= feed_item.name %></span>
  
  <% if !feed_item.photo.url.nil? %>
    <%= image_tag feed_item.photo.url %>
  <% end %>

  <span class="description"><%= feed_item.description %></span>
  <% if feed_item.price %>
  	<span class="price"><%= "$" + feed_item.price.to_s %></span>
  <% end %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_business?(feed_item.business) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.name,
                                     remote: true %>
  <% end %>
</li>



